body {
  background-color: rgb(222, 222, 222);
}
header {
  font-family: "Montserrat", sans-serif;
}
footer {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(222, 222, 222);
}
h5 {
  font-family: "El Messiri", sans-serif;
  font-weight: bold;
}
main {
  margin-top: 130px;
  margin-bottom: 24px;
}
.nav-col {
  background-color: rgb(222, 222, 222);
}
.navbar-main {
  justify-content: end;
}
.conq {
  margin-top: 120px;
}
.row1 {
  background-color: #f7f7f7;
  margin-left: 3%;
  margin-right: 3%;
  padding: 1%;
  /* border: double 4px black; */
}
.quote {
  background-position: center;
  font-family: "Montserrat", sans-serif;
  background-color: #f7f7f7;
}
.vera {
  padding-right: 0;
}
.vera img {
  width: 100%;
  height: auto;
}
.vera2 img {
  width: 100%;
  height: auto;
}
.about {
  background-color: #f7f7f7;
  border: double 4px black;
  font-family: "Montserrat", sans-serif;
}
.about h6 {
  font-family: "El Messiri", sans-serif;
  font-weight: bold;
  font-size: large;
}
@media (max-width: 340px) {
  .vera {
    min-width: 310px;
    max-width: 310px;
    padding: 0;
    margin: 0;
  }
  .quote {
    min-width: 310px;
    padding: 3%;
    margin: 0;
  }
  .vera2 {
    min-width: 290px;
  }
  .about {
    min-width: 290px;
  }
  .g-black-white {
    padding-top: 35%;
  }
  .g-colour {
    padding-top: 35%;
  }
}
@media (min-width: 340px) and (max-width: 767.98px) {
  .vera {
    min-width: 340px;
    max-width: 743px;
    margin-left: 3%;
    margin-right: 3%;
    padding: 0;
  }
  .quote {
    min-width: 340px;
    max-width: 743px;
    margin-left: 3%;
    margin-right: 3%;
    padding: 3%;
  }
  .vera2 {
    min-width: 290px;
    padding: 0;
    margin: 0;
  }
  .about {
    min-width: 290px;
    padding: 3%;
  }
  .row2 {
    margin: 0;
    padding: 0;
  }
  .g-black-white {
    padding-top: 35%;
  }
  .g-colour {
    padding-top: 35%;
  }
}
@media (min-width: 768px) {
  .vera {
    min-width: 365px;
    max-width: 580px;
    padding-left: 3%;
  }
  .quote {
    padding: 3%;
  }
  .vera2 {
    min-width: 290px;
    padding: 0;
    max-width: 470px;
  }
  .about {
    padding: 5%;
    margin-right: 5%;
  }
  .gallery {
    max-width: 700px;
  }
  .g-black-white {
    padding-top: 45%;
  }
  .g-colour {
    padding-top: 45%;
  }
}
@media (min-width: 950px) {
  .quote {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 15px;
  }
  .vera2 {
    max-width: 470px;
    padding-right: 5%;
    margin-top: 3%;
  }
  .about {
    padding: 5%;
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .row2 {
    padding: 3%;
    margin-right: 10%;
  }
}
@media (min-width: 1200px) {
  .quote {
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 15px;
    max-width: 1250px;
  }
}
blockquote::before {
  content: open-quote;
  font-size: 30px;
}
blockquote::after {
  content: close-quote;
  font-size: 30px;
  text-align: bottom;
}
.g-black-white {
  height: 380px;
  width: 263px;
  background-image: url(../images/black&white/msg-black.jpg);
  text-align: center;
  justify-content: center;
  background-repeat: no-repeat;
  border: rgba(255, 255, 255, 0.349) solid 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.5s linear;
}
.g-black-white a {
  color: rgb(0, 0, 0);
  font-family: "El Messiri", sans-serif;
  font-weight: bold;
}
.g-black-white div {
  background-color: rgba(255, 255, 255, 0.349);
}
.g-colour {
  height: 380px;
  width: 263px;
  background-image: url(../images/color/msg.jpg);
  text-align: center;
  justify-content: center;
  background-repeat: no-repeat;
  border: rgba(255, 255, 255, 0.349) solid 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.5s linear;
}
.g-colour a {
  color: rgb(0, 0, 0);
  font-family: "El Messiri", sans-serif;
  font-weight: bold;
}
.g-colour div {
  background-color: rgba(255, 255, 255, 0.349);
}
.carover {
  margin-top: 7%;
}
.carover img {
  max-height: 450px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon-vk {
  display: block;
  background: -webkit-linear-gradient(right, #4fb0ce, deeppink);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-in {
  display: block;
  background: -webkit-linear-gradient(left, #4fb0ce, deeppink);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-tg {
  display: block;
  background: #4fb0ce;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-columns .card:hover {
  cursor: pointer;
  box-shadow: 0 0 50px 50px rgb(0, 0, 0);
}
.card-columns .card2:hover {
  cursor: pointer;
  box-shadow: 0 0 70px 70px rgb(255, 255, 255);
}